/* Root components style*/

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  background-color:#FBF5F5;
}

body {
  font-family: 'Fredoka One', cursive !important;
}

body .bg-dark {
  background: none !important;
}

/* Landing page*/
.bg {
  background-image: url('./assets/landingpage/landingpage.jpg');
  height: 100%;
  margin-top: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg2 {
  width: 80%;
  /* height: 400px; */
  margin-bottom: 0;
}

/*Main button*/
.btn-primary {
  margin: 20px;
  background-color: #eb822e !important;
  width: 350px;
  height: 70px;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: cornflowerblue !important;
  border-color: orangered !important;
}

/* navigation bar*/
.navbar {
  background-color: #66cbdf !important;
}

.navbar .navbar-brand {
  color: #e9d366 !important;
  font-size: 35px;
  text-shadow: 2px 2px 4px #000000;
  padding-top: 0;
}

.links {
  width: 100%;
  margin-right: 20px;
  font-size: 20px;
  text-shadow: 2px 2px 4px black;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: #eb822e !important;
}

.jumbotron {
  background: none !important;
}

/*the main cards */
.jumbotron h1 {
  color: #e9d366 !important;
  font-size: 50px;
  text-shadow: 2px 2px 4px #000000;
}

.jumbotron p {
  margin-top: 2%;
  font-size: 30px;
}

.jumbotron button {
  font-size: 23px;
}

.cards {
  margin: 0 5% !important;
}
.card-rounded{
  border-radius: 32px !important;
}
.card-width{
  width: 300px !important;
  min-width: 300px !important;
}

.card1 {
  width: 20rem;
  background-color: lightblue !important;
}

#card1h {
  color: white;
  font-size: 35px;
  text-shadow: -1px 0 orange, 0 1px orange, 1px 0 orange, 0 -1px orange;
}

#card1p {
  color: white;
  font-size: 25px;
  text-shadow: 2px 2px 4px #000000;
}

.card2 {
  width: 20rem;
  background-color: #e9d366 !important;
}

#card2h {
  color: white;
  font-size: 35px;
  text-shadow: -1px 0 orange, 0 1px orange, 1px 0 orange, 0 -1px orange;
}

#card2p {
  color: white;
  font-size: 25px;
  text-shadow: 2px 2px 4px #000000;
}

.card3 {
  width: 20rem;
  background-color: lightblue !important;
}

#card3h {
  color: white !important;
  font-size: 35px;
  text-shadow: -1px 0 orange, 0 1px orange, 1px 0 orange, 0 -1px orange;
}

#card3p {
  color: white;
  font-size: 25px;
  text-shadow: 2px 2px 4px #000000;
}

/* video */
.player-wrapper {
  position: relative;
  /* margin-top: 20%; */
  margin-top: 138px;
  margin-bottom: 53px;
}

.react-player {
  border-radius: 24px;
  overflow: hidden;
  display: block;
  margin: auto;
  box-shadow: 0 3px 20px rgba(0,0,0,0.3);
  background-color: rgba(0, 0, 0, 0.2);
}

/* footer*/
footer{
  /* position:absolute;
  bottom:0;
  width:100%; */
}
.github {
  color: white;
}

.github:hover {
  color: orange;
}

.mail {
  color: white;
}

.mail:hover {
  color: orange;
  cursor: pointer;
}

#videoh {
  color: #e9d366;
  font-size: 40px;
  text-shadow: 2px 2px 4px #000000;
  margin-bottom: 78px;
}

/*signupforms*/
.forms {
  text-align: left;
  background-color: #fbf5f5;
  
}

.formh1 {
  color: #eb822e;
  padding-top: 3%;
  padding-bottom: 1%;
}

.formview {
  background-color: white;
}

#formb {
  margin-left: 85%;
  width: 170px;
  height: 50px;
  font-size: 23px;
  margin-bottom: 6%;
}

.formb {
  margin-left: 85%;
  width: 170px;
  height: 50px;
  font-size: 23px;
}

/* sign-in forms*/
#formblogin {
  width: 180px;
  height: 50px;
  font-size: 22px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  /* text-align: center; */
  /* margin-left: 0;*/
  
}
.form-row-custom{
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 80%;
}


.inputs {
  width: 30rem;
}

.bg3 {
  height: 400px;
  width: 400px;
}

.signin {
  margin-top: 5%;
}

.signincard {
  min-width: 40rem;
  text-align: left;
  /* margin-left: 35%; */
}

/* modal disclaimer */
.modal-content,
.transparent {
  opacity: 0.8;
}

.modal-title {
  background-color: rgb(65, 65, 65);
  font-size: 50px;
  border-radius: 22px;
}

.disclaimer-card {
  border-radius: 50px;
  box-shadow: 10px 5px 4px rgba(0, 0, 0, 0.4);
}
.disclaimer-title {
  text-shadow: -1px 0 #eb822e, 0 1px #eb822e, 1px 0 #eb822e, 0 -1px #eb822e;
  font-size: 32px;
  line-height: 29px;
}
.disclaimer-text {
  font-family: 'Poppins', sans-serif;
  font-size: 21px;
  line-height: 27px;
}
#terms {
  background-color: #8ec4de;
}
#privacy {
  background-color: #e9d366;
}
#disclaimer {
  background-color: #66cbdf;
}
.disclaimer-card,
.aboutus-card {
  border-radius: 50px;
  box-shadow: 10px 5px 4px rgba(0, 0, 0, 0.4);
}

.disclaimer-title,
.aboutus-title {
  text-shadow: -1px 0 #eb822e, 0 1px #eb822e, 1px 0 #eb822e, 0 -1px #eb822e;
  font-size: 32px;
  line-height: 29px;
}

.disclaimer-text,
.aboutus-text {
  font-family: 'Poppins', sans-serif;
  font-size: 21px;
  line-height: 27px;
}

#terms,
#kindness {
  background-color: #8ec4de;
}

#privacy,
#vision {
  background-color: #e9d366;
}

#disclaimer,
#mission {
  background-color: #66cbdf;
}

.img-container {
  width: 100%;
  height: 100%;
}

#img-humaans-space {
  background-image: url(./assets/disclaimer/Humaaans_Space.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 200px;
  height: 200px;
}

#img-humaans-3-caharacters {
  background-image: url(./assets/aboutus/Humaaans_3_Characters.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 200px;
  height: 200px;
}

/* giver profile*/
.user-space {
  background-image: url('./assets/giver/banner.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 233px;
  /* text-align: right; */
}
.banner{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 233px;
}

.welcome {
  color: orange;
  margin-right: 5%;
  /*
  padding-top: 2%;
  padding-bottom: 122px; */
}
.avatar{
  margin-left: 5%;
  background-image: url('./assets/giver/user.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
  width: 180px;
  height: 180px;
}

.welcome p {
  font-size: 24;
}

.welcome button {
  width: 14rem;
  font-size: 20px;
  margin: 0;
  height: 40px;
  margin-top: 1%;
}

/*new item posting*/
.itemview {
  /* text-align: left; */
  font-size: 20px;
  margin-top: 20%;
  margin-right: 10%;
  background-color: #fff;
  box-shadow: 0 3px 20px rgba(0,0,0,0.3);
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-radius: 18px;
}
/* error message*/
.error {
  color: red;
  font-size: 28px;
  text-align: left;
}

/* starts needer's categories panel */
#categories-header {
  background-color: #0067cf;
  padding: 14px 0px;
}

#categories-title-text {
  font-size: 20px;
  color: #fff;
}

/* The sidebar menu */
.sidebar {
  text-align: center;
  border-radius: 25px;
  height: 550px;
  width: 300px;
  /* change this with JavaScript */
  position: fixed;
  z-index: 1;
  top: 347px;
  left: 300px;
  background-color: #a2d4d0;
  overflow-x: hidden;
  transition: 0.5s;
}

/* The sidebar links */
.sidebar a {
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar .closebtn {
  position: absolute;
  top: 286px;
  right: 5px;
  margin-left: 50px;
  background-image: url(./assets/categories/open_close.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 35px;
  height: 35px;
  z-index: 1;
}

.sidebar .openbtn {
  position: absolute;
  top: 286px;
  right: 5px;
  margin-left: 50px;
  background-image: url(./assets/categories/open_close.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 35px;
  height: 35px;  /* padding: 8px 8px 8px 32px; */
  z-index: 1;
  /* open */
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH';
}

/* goods group button */
.btn-good-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
}

.btn-good {
  margin-left: 10px;
  margin-right: 10px;
}
/* detailsitem */
.detailsItemContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 600px;
  /* 
  uncomment to
  see the height of the div
  box-shadow: 0 3px 20px rgba(0,0,0,0.3);
  */ 
}

.detailsItem{
  width: 70%;
  border-radius: 25px !important;
  box-shadow: 0 3px 20px rgba(0,0,0,0.3);
}
.detailsItem .card{
  border-radius: 25px !important;
}
.detailsrows{
  padding: 20px;
}
.detailPict{
  margin-left: 0;
  margin-right: 0;
  object-fit: contain;
  width: 30%;
}
/* contact-us form*/
#formcontact {
  width: 180px;
  height: 60px;
  font-size: 22px;
  margin-left: 35%;
}

.contactuscontainer {
  width: 40rem;
  text-align: left;
  /*margin-left: 35%;*/
}
.bg5 {
  height: 400px;
  width: 400px;
  align-content: left;
}
.btn-submit {
  width: 170px;
  height: 50px;
  font-size: 23px;
  margin-bottom: 6%;
  margin-right: -16px;
  /* margin-right: 0px; */
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  /* If you want a transition effect */
  padding: 20px;
}

/* categories */
#categories-body {
}
.row-categories {
  display: flex;
  flex-wrap: wrap;
}
.category {
  /* sidebar width: 300px/2 */
  height: 122px;
  border: 1px solid #92c2be;
  transition: all 150ms linear;
}
.category-title {
  color: #005dbb;
}
.category-image:hover,
.sidebar .closebtn:hover,
.sidebar .openbtn:hover  {
  cursor: pointer;
}
.category:hover {
  background-color: #b4dad7;
}
.category-image{
  transition: all 150ms linear;
}
.category-image:hover{
  transform:scale(1.1);
}
/* cards - goods */
/* card preview: images */
#preview{
  object-fit: cover;
  box-shadow: 0 3px 20px rgba(0,0,0,0.2);
}
.card-container{
  /*   */
  justify-content: space-evenly;
}

.img-center {
  margin-right: auto;
  margin-left: auto;
}
/* giver  goods view */
.itemCards {
  margin: 12px;
  max-width: 320px !Important;
  /* min-width: 314px !Important;
  max-width: 320px !Important; */
}
.itemCards:last-of-type {
  /* margin-right: 2px; */
  /* align-self:initial */
}

.card-container:after {
  /* content: ''; */
  
} 

.itemCards button {
  /*margin-right: 2%;*/
  width: 230px;
}

/*Contact giver*/
.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
}
.flex-child p {
    text-align: left;
}
.flex-child h4 {
    text-align: left;
}
.flex-child:first-child {
    margin-right: 20px;
}
.itemh {
    text-transform: uppercase;
    color: blue;
}
.giverD {
    text-align: left;
}
.giverform {
    text-align: left;
}


/* Media Query */
@media only screen and (max-width: 800px) {
  /* .bg2 {
    display: none;
  } */

  .navbar .navbar-brand {
    font-size: 25px;
  }

  .jumbotron h1 {
    font-size: 30px;
  }

  .jumbotron button {
    font-size: 15px;
  }

  .btn-primary {
    width: 250px;
    height: 50px;
    font-weight: bold;
  }

  #formb {
    margin-left: 15%;
  }
  .formb {
    margin-left: 15%;
  }
  .signincard {
    /* width: 20rem;

    margin-left: 5%; */
  }
  .inputs {
    /* width: 18rem; */
  }
  .bg3 {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  /* .bg2 {
    display: none;
  } */

  .navbar .navbar-brand {
    font-size: 25px;
  }

  .main-brand {
    /* margin-left: 5rem; */
  }

  .jumbotron h1 {
    font-size: 30px;
  }

  .jumbotron button {
    font-size: 15px;
  }

  .cards {
    margin: 0 5% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container {
    margin-bottom: 7rem;
  }

  .footer-priv {
    margin-left: 6rem;
  }

  .fa,
  .fa-envelope-square {
    margin-left: 8rem !important;
  }

  .fa,
  .fa-github {
    margin-left: 5rem;
  }
  #formb {
    margin-left: 15%;
  }
  .formb {
    margin-left: 15%;
  }
  
}
