/* Root components style*/

.App {
    text-align: center;
}

body {
    font-family: "Fredoka One", cursive !important;
}
body .bg-dark {
    background: none !important;
}

/* Landing page*/
.bg {
    background-image: url("./assets/landingpage/landingpage.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg2 {
    width: 60%;
    height: 400px;
    margin-bottom: 0;
}
/*Main button*/
.btn-primary {
    margin: 20px;
    background-color: #eb822e !important;
    width: 350px;
    height: 70px;
    font-weight: bold;
}
.btn-primary:hover {
    background-color: cornflowerblue !important;
    border-color: orangered !important;
}
/* navigation bar*/
.navbar {
    background-color: #66cbdf !important;
}
.navbar .navbar-brand {
    color: #e9d366 !important;
    font-size: 35px;
    text-shadow: 2px 2px 4px #000000;
}
.links {
    width: 100%;

    margin-right: 20px;
    font-size: 20px;
    text-shadow: 2px 2px 4px black;
}
.nav-link {
    color: white !important;
}
.nav-link:hover {
    color: #eb822e !important;
}
.jumbotron {
    background: none !important;
}

/*the main cads */
.jumbotron h1 {
    color: #e9d366 !important;
    font-size: 50px;
    text-shadow: 2px 2px 4px #000000;
}
.jumbotron p {
    margin-top: 2%;
    font-size: 30px;
}
.jumbotron button {
    font-size: 23px;
}
.cards {
    margin: 0 5% !important;
}
.card1 {
    width: 20rem;
    background-color: lightblue !important;
}
#card1h {
    color: white;
    font-size: 35px;
    text-shadow: -1px 0 orange, 0 1px orange, 1px 0 orange, 0 -1px orange;
}
#card1p {
    color: white;
    font-size: 25px;
    text-shadow: 2px 2px 4px #000000;
}

.card2 {
    width: 20rem;
    background-color: #e9d366 !important;
}
#card2h {
    color: white;
    font-size: 35px;
    text-shadow: -1px 0 orange, 0 1px orange, 1px 0 orange, 0 -1px orange;
}
#card2p {
    color: white;
    font-size: 25px;
    text-shadow: 2px 2px 4px #000000;
}
.card3 {
    width: 20rem;
    background-color: lightblue !important;
}
#card3h {
    color: white !important;
    font-size: 35px;
    text-shadow: -1px 0 orange, 0 1px orange, 1px 0 orange, 0 -1px orange;
}
#card3p {
    color: white;
    font-size: 25px;
    text-shadow: 2px 2px 4px #000000;
}
/* video */
.player-wrapper {
    position: relative;
    margin-top: 20%;
}
.react-player {
    display: block;
    margin: auto;
}
/* footer*/
.github {
    color: white;
}
.github:hover {
    color: orange;
}
.mail {
    color: white;
}
.mail:hover {
    color: orange;
}
#videoh {
    color: #e9d366;
    font-size: 40px;
    text-shadow: 2px 2px 4px #000000;
}
/*signupforms*/
.forms {
    text-align: left;
    background-color: #fbf5f5;
}
.formh1 {
    color: #eb822e;
    padding-top: 3%;
    padding-bottom: 1%;
}
.formview {
    background-color: white;
}
#formb {
    margin-left: 75%;
    width: 170px;
    height: 50px;
    font-size: 23px;
    margin-bottom: 6%;
}
.formb {
    margin-left: 75%;
    width: 170px;
    height: 50px;
    font-size: 23px;
    margin-bottom: 6%;
}
/* Media Query */
@media only screen and (max-width: 800px) {
    .bg2 {
        display: none;
    }
    .navbar .navbar-brand {
        font-size: 25px;
    }
    .jumbotron h1 {
        font-size: 30px;
    }
    .jumbotron button {
        font-size: 15px;
    }
    .btn-primary {
        width: 250px;
        height: 50px;
        font-weight: bold;
    }
    #formb {
        margin-left: 30%;
    }
}

@media only screen and (max-width: 600px) {
    .bg2 {
        display: none;
    }
    .navbar .navbar-brand {
        font-size: 25px;
        text-align: center;
    }
    .main-brand {
        margin-left: 5rem;
    }
    .jumbotron h1 {
        font-size: 30px;
    }
    .jumbotron button {
        font-size: 15px;
    }

    .cards {
        margin: 0 5% !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container {
        margin-bottom: 7rem;
    }
    .footer-priv {
        margin-left: 6rem;
    }

    .fa,
    .fa-envelope-square {
        margin-left: 8rem !important;
    }

    .fa,
    .fa-github {
        margin-left: 5rem;
    }
}
